# Ignore log files
*.log

# Ignore temporary files
temp/

# Ignore compiled binaries
/bin/

# Ignore html reports 
*.html 

# Ignore .idea files: when project is used by JetBrains .idea is generated
/.idea/